.submitButton{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer label{
    margin-bottom: -15px;
}

.usernameContainer .usernameInputLabel {
    margin-bottom: -15px; /* Reduce bottom margin for username label */
    text-align: center; /* Center align text */
}

.usernameContainer .usernameInputBar {
    margin-top: 0px; /* Reduce top margin for username input bar */
}

.passwordInputLabel {
    text-align: center; /* Center align text */
    margin-bottom: -8px;
}

.passwordInputBar {
    margin-top: 10px; /* Adjust top margin as needed */
}

.accountForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.error,
.message{
    display: flex;
    justify-content: center;
    color: red;
}